*
{
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    
}
img
{

    width:1.5vmX;
}
.nav
{
    display: flex;
    /* width:100%;
    height:5vw;
    background-color: pink;
    flex-direction: row; */
    
}
.navend
{
    display: flex;
    justify-content: end;
    width:100%;
    gap:1.5vmax;
    padding:2px;
    flex-direction: row;
    margin-right: 25px;
    margin-top: 30px;
}
.googlepic

{
    width:6vmax;
    margin-top: 30px;
    margin-left: 30px;
}
button{
    width:4vmax;
    height:2vmax;
    padding-bottom: 1px;
    padding-right: 1px;
    font-size: 1vmax;
    font-size: 13px;

}
.setting{
    width:1.6vmax;
    height:1.6vmax;
    margin-top: 3.5px;
}

.icon
{
    width:1.4vmax;
    height:1.4vmax;
    margin-top: 5px;
    
}


.nav2
{
    display: flex;
   flex-direction: row;
   font-size: 14px;
   font-family: Arial, Helvetica, sans-serif;
   /* gap:1vw; */
   /* margin-left: 12vw; */
   color:#70757a;
   border-bottom: 0.7px solid #70757a;
   font-size: 14px;
   /* background-color: pink; */
   height:2.5vw;
}
.navicon
{
display: flex;
margin-left: 2vw;
}
.navicon1
{
display: flex;
margin-left: 12vw;
}

.navicontoll
{
display: flex;
justify-content: center;
width:41vw;
}
.naviconend
{
display: flex;
justify-content: end;
width:16vw;
}
.about
{
    display: flex;
    justify-content: start;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color:#5e5e5e;
    margin-left: 12vw;
    margin-top: 2vw;
}





#firsti
{
height:1.5vw;
width:1.5vw;
background-color: #ffffff;
border-radius: 50%;
display: flex;
justify-content: center;
left:10.8vw;
top:10.5vw;




}




.mainimp
{
height:150%;
width:60%;

}
#a0
{
    height:15vw;;
    width:50vw;
   
    
}
.a100
{
    height:7vw;
    width:4vw;
    color: #4d4d4d;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
    position: absolute;
    left:15vw;
    top:13vw;
    
}
#a98
{
   
border-radius: 50%;
border: 1px solid #4d5156;
height:2vw;
width:2vw;
background-color: #ffffff;
position: absolute;
left:11.8vw;
top:13vw;
display: flex;
justify-content: center;
align-items: center;


   
}
.a99
{
    height:10vw;
    width:8vw;
    color:#4d5156;
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
    left:15vw;
    top:2vw;
    
    position:relative;
}
#a1
{
    text-decoration: none;
    height:10vw;
    width:20vw;;
    color:#681da8;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin:18px,0px,3px;
    padding:5px,0px,0px;
    position: absolute;
    left:11.8vw;
    top:16.5vw;
}

#p2
{
    color:#4d5156;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left:11.8vw;
    top:19vw;

}
b{
    color:#4d5156; 
}
#v2
{
    height:36px;
    width:652px;
    color:#202124;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left:170px;
    top:325px;
    border-bottom: 1px solid  rgba( 3,3,3,0.1);

}

#v4
{
    height:36px;
    width:652px;
    color:#202124;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left:170px;
    top:373px;
    border-bottom: 1px solid  rgba( 3,3,3,0.1);


}
#v5
{
    height:36px;
    width:652px;
    color:#202124;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left:170px;
    top:421px;
    border-bottom: 1px solid  rgba( 3,3,3,0.1);

}
#v6
{
    height:36px;
    width:652px;
   
    color:#202124;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left:170px;
    top:469px; 
    border-bottom: 1px solid  rgba( 3,3,3,0.1);

}
#v7
{
    height:36px;
    width:652px;
    color:#202124;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left:170px;
    top:517px;
    border-bottom: 1px solid  rgba( 3,3,3,0.1);


}
#v8
{
    height:36px;
    width:652px;
    color:#202124;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left:170px;
    top:565px;
    border-bottom: 1px solid  rgba( 3,3,3,0.1);


}
#v9
{
    height:36px;
    width:652px;
    color:#202124;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left:170px;
    top:613px;
    border-bottom: 1px solid  rgba( 3,3,3,0.1);


}
#v10
{
    height:36px;
    width:652px;
    color:#202124;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left:170px;
    top:661px;
    border-bottom: 1px solid  rgba( 3,3,3,0.1);

}
#v11
{
    height:36px;
    width:652px;
    color:#202124;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left:170px;
    top:709px;
    border-bottom: 1px solid rgba( 3,3,3,0.1);


}
#v12
{
    height:36px;
    width:652px;
    color:#202124;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left:170px;
    top:757px;
    border-bottom: 1px solid  rgba( 3,3,3,0.1);


}
#v13
{
    height:36px;
    width:652px;
    color:#202124;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left:170px;
    top:805px;
    border-bottom: 1px solid  rgba( 3,3,3,0.1);

}
/* #v1
{
    position: absolute;
    left:170px;
    top:300px;
}

*/
 .bordr{
    height:35px;
    /* position: absolute;
    top:70px;
      */
     
    border-bottom: 1px solid  rgba( 3,3,3,0.1);
} 
.padd
{
    
    position: absolute;
    left:117px;
    padding: 0px 0px 16px 24px;
   

}
.morr
{
    height:12px;
    width:12px;
    position:absolute;
    
top:244px;
right:300px;
color: rgba( 10,10,10,0.01)
    
}
#p2hide
{
    visibility: hidden;
}

@media (max-width:600px) {


    *
{
    font-size: 10px;
    padding: 0px;
    margin: 0px;
    
}
img
{

    width:1.5vmX;
}
.nav
{
    display: flex;
   
}
.navend
{
    display: flex;
    justify-content: end;
    width:100%;
    gap:1.5vmax;
    padding:2px;
    flex-direction: row;
    margin-right: 25px;
    margin-top: 30px;
}
.googlepic

{
    width:6vmax;
    margin-top: 30px;
    margin-left: 30px;
}
button{
    width:4vmax;
    height:2vmax;
    padding-bottom: 1px;
    padding-right: 1px;
    font-size: 1vmax;

}
.setting{
    width:1.6vmax;
    height:1.6vmax;
    margin-top: 3.5px;
}

.icon
{
    width:1.4vmax;
    height:1.4vmax;
    margin-top: 5px;
    
}
.nav2
{
    display: flex;
   flex-direction: row;
   font-size: 14px;
   font-family: Arial, Helvetica, sans-serif;
   
   color:#70757a;
   border-bottom: 0.7px solid #70757a;
   font-size: 14px;
   
   height:2.5vh;
}
.navicon
{
display: flex;
margin-left: 2vw;
}
.navicon1
{
display: flex;
margin-left: 12vw;
}

.navicontoll
{
display: flex;
justify-content: center;
width:20vh;
}
.naviconend
{
display: flex;
justify-content: end;
width:6vh;
}
.about
{
display:none;
visibility: hidden;

}







#firsti
{
height:2vh;
width:2vh;
background-color: #ffffff;
border-radius: 50%;
display: flex;
justify-content: center;
left:10.8vh;
top:12.5vh;




}




.mainimp
{
height:150%;
width:60%;

}
#a0
{
    height:12vw;;
    width:30vw;
   
    
}
.a100
{
    height:5vh;
    width:2.5vh;
    color: #4d4d4d;
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
    position: absolute;
    left:8vh;
    top:13.5vh;
    
}
#a98
{
   
border-radius: 50%;
border: 1px solid #4d5156;
height:3vh;
width:3vh;
background-color: #ffffff;
position: absolute;
left:3vh;
top:14vh;
display: flex;
justify-content: center;
align-items: center;


   
}
.a99
{
    height:10vh;
    width:8vh;
    color:#4d5156;
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
    left:8vh;
    top:2vh;
    
    position:relative;
}
#a1
{
    text-decoration: none;
    height:10vh;
    width:20vh;;
    color:#681da8;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin:18px,0px,3px;
    padding:5px,0px,0px;
    position: absolute;
    left:3vh;
    top:19.5vh;
}

#p2hide
{
    visibility: visible;
    color:#4d5156;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left:3vh;
    top:23vh;
    width:100%;

}
b{
    color:#4d5156; 
}
#p2
{
    visibility: hidden;
}


}
@media (max-width:600px) {


    *
{
    font-size: 10px;
    padding: 0px;
    margin: 0px;
    
}
img
{

    width:1.5vmX;
}
.nav
{
    display: flex;
   
}
.navend
{
    display: flex;
    justify-content: end;
    width:100%;
    gap:1.5vmax;
    padding:2px;
    flex-direction: row;
    margin-right: 25px;
    margin-top: 30px;
}
.googlepic

{
    width:6vmax;
    margin-top: 30px;
    margin-left: 30px;
}
button{
    width:4vmax;
    height:2vmax;
    padding-bottom: 1px;
    padding-right: 1px;
    font-size: 1vmax;

}
.setting{
    width:1.6vmax;
    height:1.6vmax;
    margin-top: 3.5px;
}

.icon
{
    width:1.4vmax;
    height:1.4vmax;
    margin-top: 5px;
    
}
.nav2
{
    display: flex;
   flex-direction: row;
   font-size: 14px;
   font-family: Arial, Helvetica, sans-serif;
   
   color:#70757a;
   border-bottom: 0.7px solid #70757a;
   font-size: 14px;
   
   height:2.5vh;
}
.navicon
{
display: flex;
margin-left: 2vw;
}
.navicon1
{
display: flex;
margin-left: 12vw;
}

.navicontoll
{
display: flex;
justify-content: center;
width:20vh;
}
.naviconend
{
display: flex;
justify-content: end;
width:6vh;
}
.about
{
display:none;
visibility: hidden;

}







#firsti
{
height:2vh;
width:2vh;
background-color: #ffffff;
border-radius: 50%;
display: flex;
justify-content: center;
left:10.8vh;
top:12.5vh;




}




.mainimp
{
height:150%;
width:60%;

}
#a0
{
    height:12vw;;
    width:30vw;
   
    
}
.a100
{
    height:5vh;
    width:2.5vh;
    color: #4d4d4d;
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
    position: absolute;
    left:8vh;
    top:13.7vh;
    
}
#a98
{
   
border-radius: 50%;
border: 1px solid #4d5156;
height:3vh;
width:3vh;
background-color: #ffffff;
position: absolute;
left:3vh;
top:15.2vh;
display: flex;
justify-content: center;
align-items: center;


   
}
.a99
{
    height:10vh;
    width:8vh;
    color:#4d5156;
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
    left:8vh;
    top:2vh;
    
    position:relative;
}
#a1
{
    text-decoration: none;
    height:10vh;
    width:20vh;;
    color:#681da8;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin:18px,0px,3px;
    padding:5px,0px,0px;
    position: absolute;
    left:3vh;
    top:19.5vh;
}

#p2hide
{
    visibility: visible;
    color:#4d5156;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left:3vh;
    top:23vh;
    width:100%;

}
b{
    color:#4d5156; 
}
#p2
{
    visibility: hidden;
}


}



}
